/* Styles for the Home component */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #262215;
  font-size: 25px;
  text-align: center;
  padding: 20px;

  background-image: url(../component_images/lamp.jpeg);
}



/* Background images for different weather conditions */

/* Default background */
.default-background {
  background-image: url('../component_images/blue_pattern.jpeg');
}

/* Cloudy background */
.cloudy-background {
  background-image: url('../component_images/cloudy_image.jpeg');
}

/* Sunny background */
.sunny-background {
  background-image: url('../component_images/sunny_image.jpeg');
}

/* Rainy background */
.rainy-background {
  background-image: url('../component_images/rainy_image.jpeg');
}

/* Styles for the weather container */
.weather-container {
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  top: 100px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  max-width: 200px;
  transition: 0.3s;
}

/* Styles for the weather container's text */
.weather-container h2 {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
  
}

/* Styles for weather details */
.weather-container p {
  margin: 5px 0;
  font-size: 14px;
}

/* Styles for the open state of the weather container */
.weather-container.open {
  max-width: 200px;
  display: block;
}

/* Styles for the closed state of the weather container */
.weather-container.closed {
  max-width: 25px;
  height: 25px;
  overflow: hidden;
  display: block;
}

/* Close button styles */
.close-button {
  position: absolute;
  top: -10px;
  left: -9px;
  border: none;
  background: rgb(56, 55, 55);
  border-radius: 70%;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
  color: #fff;
  outline: #48484a;
}

/* Toggle button styles */
.toggle-button {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background: rgb(56, 55, 55);
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
  color: #fff;
  outline: #48484a;
  z-index: 1;
}
.projects-link-button{
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3f3f3f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.projects-link-button{
  background-color: #0a0a0a;
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens here */

  .home-container {
    font-size: 20px;
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .weather-container {
    top: 50px;
    right: 10px;
    max-width: 150px; /* Adjust the maximum width for smaller screens */
  }

  .weather-container h2 {
    font-size: 14px; /* Adjust font size for weather container text */
  }

  .weather-container p {
    font-size: 12px; /* Adjust font size for weather details */
  }

  .toggle-button {
    font-size: 14px; /* Adjust font size for the toggle button */
    padding: 4px; /* Adjust padding for the toggle button */
  }

  .cloud-icon {
    font-size: 1.5rem; /* Adjust the font size as needed */
  }

  .scroll-button {
    font-size: 16px; /* Adjust font size for scroll button */
    padding: 8px 16px; /* Adjust padding for scroll button */
  }
}
