.container {
  text-align: center;
  padding: 150px;
}

.container h2 {
  font-size: 35px;
}

.container p {
  font-family: sans-serif;
  font-size: 20px;
  margin-bottom: 50px;
}
.project-container{
  background-color: rgb(11, 11, 201);
  padding: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; 
}


/* Project card styles */
.mySlides {
  display:none;
  max-width: 800px;
  width: 100%;   
  flex: 1;
  display: none;
}

.mySlides.active {
  display:flex;
}

.mySlides img {
  width: 50%;
  height: auto;
  padding-right: 10px;
}

/* Navigation buttons styles */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: rgb(13, 1, 1);
  font-weight: bold;
  font-size: 10px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev {
  left: 0;
  transform: translateY(-50%);
}

.next {
  right: 0;
  transform: translateY(-50%);
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/* Image text styles */
.caption-container {
  text-align: center;
  color:  rgb(13, 1, 1);
  font-size: 20px;
  background-color: #EAE7DC;
  flex: 2;
  margin-right: 0rem; /* Reduce margin-right for better alignment */
  padding-right: 25rem; /* Adjust padding for better spacing */
  font-size: 1.2rem; /* Increase font size for better readability */
  font-family: sans-serif;
  text-align: justify;
}

/* Row of small images styles */
.row {
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
  padding-top: 10px;
}

.column {
  flex: 50%;
  padding: 5px;
  text-align: center;
}

.demo {
  opacity: 0.6;
  transition: 0.3s;
}

/* Set a fixed height and width for the images within .column */
.demo img {
  width: 100%; /* Adjust this value to your desired width */
  height: auto;
}
.demo:hover {
  opacity: 1;
}
